<div class="container">
    <div class="row">
        <div class="col l6 offset-l3">
            <div class="card">
                <div class="card-content" *ngIf="isTokenValidated">
                    <div *ngIf="!requestResult.success">
                        <span class="card-title">Oops! We found some issue in this request</span>
                        <p *ngFor="let err of requestResult.errorMesssage">{{err}}</p>
                    </div>
                    <div *ngIf="requestResult.success">
                        <span class="card-title">Please fill up the form</span>
                        <form id="registration" name="frmRegistration" #registrationForm="ngForm" *ngIf="!ShowResult">
                            <span>Contact Information</span>
                            <div class="input-field">
                                <input id="firstname" type="text" class="validate" [(ngModel)]="model.FirstName" name="FirstName" required>
                                <label for="firstname" data-error="First Name Required">First Name</label>
                            </div>
                            <div class="input-field">
                                <input id="lastname" type="text" class="validate" [(ngModel)]="model.LastName" name="LastName" required>
                                <label for="lastname" data-error="Last Name Required">Last Name</label>
                            </div>
                            <span>Business Information</span>
                            <div class="input-field">
                                <input id="businessname" type="text" class="validate" [(ngModel)]="model.Business.Name" name="BusinessName" required>
                                <label for="businessname" data-error="Business Name">Business Name</label>
                            </div>
                            <div class="input-field">
                                <input id="website" type="url" class="validate" [(ngModel)]="model.Business.Website" name="Website">
                                <label for="website">Website</label>
                            </div>
                            <div class="input-field">
                                <textarea id="natureofbusiness" class="materialize-textarea" [(ngModel)]="model.Business.NatureOfBusiness" name="NatureOfBusiness" required></textarea>
                                <label for="natureofbusiness" data-error="Nature of Business is required">Nature of Business</label>
                            </div>
                            <span>Account Information</span>
                            <div class="input-field">
                                <input id="email" type="text" class="validate" [(ngModel)]="model.Email" name="Email" required [disabled]="true">
                                <label for="email" class="active" data-error="Email is required">Email</label>
                            </div>
                            <div class="input-field">
                                <input id="password" type="password" class="validate" [(ngModel)]="model.Password" name="Password" required>
                                <label for="password" data-error="Password Required">Password</label>
                            </div>
                            <div class="input-field">
                                <input id="confirmpassword" type="password" class="validate" [(ngModel)]="model.ConfirmPassword" name="ConfirmPassword" required>
                                <label for="confirmpassword" data-error="Confirm Password Required">Confirm Password</label>
                            </div>
                            <div class="right-align">
                                <button class="btn" [disabled]="!registrationForm.valid && model.Password != model.ConfirmPassword">Submit</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>