<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Logo</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a class="waves-effect waves-light btn" [routerLink]="['/dashboard']">Portal</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a class="waves-effect waves-light btn" [routerLink]="['/dashboard']">Portal</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col l6 offset-l3 offset-s1 m6 offset-m3">
            <h3 class="center-align">Company Name</h3>
        </div>
        <div class="col l6 offset-l3">
            <p class="center-align">Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus delicata usu. Vidit dissentiet eos cu eum an brute copiosae hendrerit. Eos erant dolorum an. Per facer affert ut. Mei iisque mentitum moderatius cu. Sit munere facilis accusam eu dicat falli consulatu</p>
        </div>
        <a class="col l4 offset-l4 waves-effect waves-light btn-large offset-s3 s6" [routerLink]="['/request']">Sign Up For Free!</a>
    </div>
</div>
