<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mts.Web</title>
    <base href="~/" />
    <script src="~/dist/jquery.min.js"></script>
    <script src="~/dist/materialize.min.js"></script>
    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
</head>
<body>
    @RenderBody()
    
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            Materialize.updateTextFields();
            $(".button-collapse").sideNav();
        });
    </script>
</body>
</html>
